@font-face {
    font-family: "HardRace";
    src: url("../../../font/Hard\ Race.otf") format("opentype");
}

.home__baner{
    background-image: url('../../../images/home-image/baner.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 800px;
    width: 70%;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5%;
    border: solid 2px rgb(119, 116, 116);
    display: flex;
    flex-direction: column;
}

.home__baner-container-vertical{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 65%;
    width: 27%;
    border-radius: 3%;
    margin-top: 4%;
    margin-left: 4%;
    background-color: rgba(0, 0, 0, 0.6);
}
.home__baner-container-horizontal{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 20%;
    width: 90%;
    margin-top: 4%;
    margin-left: 4%;
    border-radius:  3%;
    background-color: rgba(0, 0, 0, 0.6);
}

.home__baner-title{
    font-family: "HardRace";
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    width: 80%;
    text-align: center;
}

.home__baner-text{
    font-size: 1.2rem;
    width: 90%;
}
@media screen and (max-width: 768px) {
    .home__baner{
        width: 90%;
        height: 800px;
        background-size: cover;
    }
    .home__baner-container-vertical {
        width: 90%;
        text-align: center;
        padding: 10px;
        height: 25%;
    }
    .home__baner-container-horizontal{
        width: 40%;
        text-align: center;
        padding-top: 5%;
        height: 45%;
        margin-left: 55.5%;
    }
    .home__baner-text{
        font-size: 1.5rem;
        width: 90%;
        margin-top: 0%;
    }
    .home__baner-title{
        font-size: 1.5rem;
        letter-spacing: 0.15rem;
        width: 80%;
        text-align: center;
    }
}