@keyframes rotacion {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.home__container-rueda{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.home__base-rueda{
    position: absolute;
    height: 80vh;
    bottom: 0;
    left: 0;
    width: 70%;
    overflow: hidden;
}

.home__rueda{
    display: flex;
    margin: 0%;
    position: relative;
    bottom: -100px;
    left: -250px;
    width: 1100px;
    transform-origin: center;
    animation:  rotacion 20s linear infinite;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .home__container-rueda{
        margin-bottom: 120px;
        width: 70%;
    }
    .home__base-rueda{
        height: 66vh;
        top:91.7%;
        width: 100%;
    }
    .home__rueda{
        top: -15%;
    }
}

@media screen and (max-width: 480px) {
    .home__container-rueda{
        margin-bottom: 0px;
        margin-top: 90px;
    }
    .home__base-rueda{
        height: 8%;
        top:96.7%;
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .home__rueda{
    bottom: -100px;
    left: -250px;
    width: 800px;
    top: -5%;
}
}