@font-face {
  font-family: "HardRace";
  src: url("../../../font/Hard\ Race.otf") format("opentype");
}

.info-section{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding: 20px;
  width: 90%;
  margin-top: 5%;
}

.info-section__container-instalacion,
.info-section__container-caucho,
.info-section__container-prueba,
.info-section__container-preguntas{
  grid-row: span 2;
  grid-column: span 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b81d1d;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-section__container-caucho{
  grid-row: span 8;
}

.info-section__container-preguntas{
  grid-row: span 8;
}

.info-section__title {
  font-size: 2rem;
  font-family: "HardRace";
  margin-bottom: 20px;
  text-align: center;
}

.info-section__embed {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 8px;
  justify-content: center;
}


@media screen and (max-width: 480px) {
  .info-section{
    width: 100%;
    grid-template-columns: 1fr;
    align-items: stretch;
    align-items: flex-start;
    margin-left: -10px;
    margin-bottom: 15%;
  }

  .info-section__container-instalacion,
  .info-section__container-caucho,
  .info-section__container-prueba,
  .info-section__container-preguntas{
   
    margin-left: 0;
    margin-right: 20%;
    border-radius: 0;
    padding: 0;
    display: flex;
    width: 100%;
    margin-left: -9px;
    height: 470px;
}

  .info-section__title{
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
  }

  .info-section__embed {
    border-radius: 0;
  }

}