.footer{
    margin-top: 146px;
    width: 69%;
    height: 18px;
    margin-bottom: 45px;
    left: 5px;
    display: flex;
}

.footer__text{
    margin-top: 0%;
    margin-left: 80%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}