@font-face {
    font-family: "HardRace";
    src: url("../../font/HardRace.otf") format("opentype");
}

.header{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    width: 93%;
    height: auto;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    color: white;
    border-bottom: 2px solid grey;
    position: relative;
}

.header__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.header__logo{
    height: 50px;
    align-items: flex-start;
}
.header__title{
    margin: 0;
    letter-spacing: 0.3rem;
    margin-left: 30%;
    text-align: center;
    font-size: 2.2rem;
    font-family: "HardRace";
}

.header__subtitle{
    margin: 0;
    margin-left: 30%;
    margin-top: 2%;
    font-size: 1.1rem;
    color: #9E0105;
    text-align: center;
}

nav{
    position: relative;
    left: 15px;
    bottom:-38px;
}
.nav ul{
    list-style-type: none;
    display: flex;
    gap: 5px;
    padding: 0;
}

.nav li{
    padding: 5px;
    border-top: 2px solid white;
    border-right: 1px solid white;
    cursor: pointer;
    transition: color o.3s ease;
}


.nav li:hover{
    color: #9E0105;
    border-top: 2px solid #9E0105;
    border-right: 2px solid #9E0105;
}

@media screen and (max-width: 768px) {
    .header{
        margin-top: 35px;
        width: 95%;
    }

    .header__logo{
        height: 40px;
    }
    .header__title{
        letter-spacing: 0.3rem;
        margin-left: 5%;
        text-align: center;
        font-size: 2.4rem;
    }
    .header__subtitle{
        margin-left: 5%;
    }
    .nav{
        position: relative;
        left: 0px;
        height: auto;
        bottom: 0px;
        max-width: 100%;
        text-align: center;
    }

    .nav ul{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        justify-content: center;
        padding: 0;
    }
}

@media screen and (max-width: 395px) {
    .header{
        margin-top: 20px;
        width: 100%;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__container{
        width: 93%;
        padding-right: 5%;
        margin-top: 2%;
    }
    .header__title{
        font-size: 2rem;
        letter-spacing: 0.2rem;
        text-align: center;
        width: 100%;
    }
    .nav ul{
        grid-template-columns: repeat(2, 1fr);
    }
    .nav{
        width: 80%;
    }
}