@font-face {
    font-family: "Roboto";
    src: url("../../font/Roboto-Italic.ttf") format("truetype");
    font-style: italic;
}

.root{
    background-color: black;
    background-image: url('../../images/background.png');
    background-size:calc(70%);
    background-position:center 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 1280px;
    margin: auto;
    font-family: "Roboto";
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    height: 1080px;
}
