@font-face {
    font-family: "Roboto";
    src: url("../../font/Roboto-Italic.ttf") format("truetype");
    font-style: italic;
}

body, html {
    overflow-x: hidden; /* Evita desbordamiento horizontal */
    margin: 0;
    padding: 0;
}



.root{
    background-color: black;
    background-image: url('../../images/background.png');
    background-size:100% auto;
    background-position:center 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    
    margin: auto;
    font-family: "Roboto";
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .root{
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 480px) { 
    .root{
        background-size: cover;
        display: flex;
        background-position: center;
    }
}