.gallery {
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    
  }
  .gallery__title{
    margin-top: 0;
  }
  
  .gallery__carousel {
    position: relative;
    width: 80%;
    margin-top: 5%;
    overflow: hidden;
  }
  
  .gallery__carousel-track-container {
    width: 100%;
    
  }
  
  .gallery__carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .gallery__carousel-image {
    min-width: 100%;
    object-fit: cover;
    
  }
  
  .gallery__carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 5rem;
    z-index: 2;
    user-select: none;
    height: 100%;
    }

  .gallery__carousel-btn:hover{
    background-color: rgba( 0, 0, 0, 25%);
  }
  
  .carousel__btn-prev {
    left: 0px;
  }
  
  .carousel__btn-next {
    right: 0px;
  }
  